Repository KBot-discord/Protobuf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bot, youtube

bot:
  stage: triggers
  variables:
    SUB_DIR: bot
  trigger:
    include: .gitlab/templates/template.gitlab-ci.yml
    strategy: depend

youtube:
  stage: triggers
  variables:
    SUB_DIR: youtube
  trigger:
    include: .gitlab/templates/template.gitlab-ci.yml
    strategy: depend

Add proto files to .editorconfig
  .editorconfig
Due: none

Update youtube module, format all modules
  bot/scheduled_streams/v1/scheduled_streams.proto
  youtube/channels/v1/channels.proto
  youtube/streams/v1/streams.proto
  youtube/subscriptions/v1/subscriptions.proto
Due: bot, youtube

Remove buf-breaking until it's more than a single dev
  .gitlab/templates/template.gitlab-ci.yml
Due: none

Update readme
  README.md
Due: none

Update markdown files
  bot/README.md
  bot/buf.md
  youtube/README.md
  youtube/buf.md
Due: bot, youtube

Update bot proto files
  bot/buf.lock
  bot/buf.yaml
  bot/scheduled_streams/v1/scheduled_streams.proto
  youtube/buf.yaml
  youtube/streams/v1/streams.proto
Due: bot, youtube

Add channel id to message data
  bot/scheduled_streams/v1/scheduled_streams.proto
Due: bot

Add UpdateStreamMessageData rpc
  bot/scheduled_streams/v1/scheduled_streams.proto
  youtube/streams/v1/streams.proto
Due: bot, youtube

Update
  bot/buf.lock
  bot/buf.yaml
  bot/discord/channels/v1/channels.proto
  bot/discord/roles/v1/roles.proto
  bot/moderation/bans/v1/bans.proto
  bot/scheduled_streams/v1/scheduled_streams.proto
  youtube/channels/v1/channels.proto
  youtube/streams/v1/streams.proto
Due: bot, youtube

Add autocomplete to channels module
  youtube/channels/autocomplete/v1/autocomplete.proto
Due: youtube

Forgot to change service name
  youtube/channels/autocomplete/v1/autocomplete.proto
Due: youtube

Update subscription service
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Fix tabs
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Fix more tabs
  youtube/channels/v1/channels.proto
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Remove GetChannelSubscriptions rpc
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Have the youtube module handle webhook creation
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Shift subscription values
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Add channel_ids property to DeleteGuildSubscriptionsRequest
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Remove MessageData from StreamService
  youtube/streams/v1/streams.proto
Due: youtube

Revert channel_ids
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Remove GetStream
  youtube/streams/v1/streams.proto
Due: youtube

Update subscriptions return
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Add return data to PostSubscription
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Add DeleteSubscriptionByName
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Revert "Add DeleteSubscriptionByName"
  youtube/subscriptions/v1/subscriptions.proto
Due: youtube

Update CI/CD
  .github/workflows/bot/pull-request.yaml
  .github/workflows/bot/push.yaml
  .github/workflows/youtube/pull-request.yaml
  .github/workflows/youtube/push.yaml
  .gitlab-ci.yml
  .gitlab/templates/template.gitlab-ci.yml
Due: none

Move workflows from folders
  .github/workflows/bot-pull-request.yaml
  .github/workflows/bot-push.yaml
  .github/workflows/youtube-pull-request.yaml
  .github/workflows/youtube-push.yaml
Due: none

Rename workflows
  .github/workflows/bot-pull-request.yaml
  .github/workflows/bot-push.yaml
  .github/workflows/youtube-pull-request.yaml
  .github/workflows/youtube-push.yaml
Due: none

Add initial moderation logs
  bot/moderation/modlogs/v1/modlogs.proto
Due: bot

Fix pull request workflows
  .github/workflows/bot-pull-request.yaml
  .github/workflows/youtube-pull-request.yaml
Due: none

Specify subdir for buf-breaking
  .github/workflows/bot-pull-request.yaml
  .github/workflows/bot-push.yaml
  .github/workflows/youtube-pull-request.yaml
  .github/workflows/youtube-push.yaml
Due: none

Update workflows
  .github/workflows/bot-pull-request.yaml
  .github/workflows/bot-push.yaml
  .github/workflows/youtube-pull-request.yaml
  .github/workflows/youtube-push.yaml
Due: none

Update workflows (#6)
  .github/workflows/bot-pull-request.yaml
  .github/workflows/bot-push.yaml
  .github/workflows/youtube-pull-request.yaml
  .github/workflows/youtube-push.yaml
Due: none

Path conditions:
  bot: any of: bot/**/*
  youtube: any of: youtube/**/*
